<div class="chart-component" 
     data-chart-type="${properties.chartType @ context='html'}"
     data-chart-title="${properties.chartTitle @ context='html'}"
     data-manual-labels="${properties.chartLabels @ context='html'}"
     data-manual-values="${properties.chartValues @ context='html'}">
    
    <div class="chart-container" id="chart-${resource.name @ context='html'}"></div>
    
    <p class="chart-help" data-sly-test="${!properties.chartLabels && !properties.chartValues && !properties.csvFileReference}">
        Configure chart data in component dialog or upload CSV file.
    </p>
</div>
