<!DOCTYPE html>
<html lang="${page.language @ context='html'}"
      data-sly-use.page="com.adobe.cq.wcm.launches.utils.LaunchUtils"
      data-sly-use.template="core/wcm/components/commons/v1/templates">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-sly-text="${page.title}">${page.title}</title>
    
    <sly data-sly-include="${'customheaderlibs.html' @ prependPath='/apps/aem-playground/components/page'}"></sly>
    <sly data-sly-resource="${'head' @ resourceType='wcm/foundation/components/head'}"></sly>
</head>
<body class="${page.classNames @ context='html'}">
    <div class="aem-wrapper">
        <header class="header" data-sly-resource="${'header' @ resourceType='aem-playground/components/structure/header'}"></header>
        
        <main class="main" role="main">
            <sly data-sly-resource="${'root' @ resourceType='aem-playground/components/container'}"></sly>
        </main>
        
        <footer class="footer" data-sly-resource="${'footer' @ resourceType='aem-playground/components/structure/footer'}"></footer>
    </div>
    
    <sly data-sly-include="${'customfooterlibs.html' @ prependPath='/apps/aem-playground/components/page'}"></sly>
</body>
</html>
