<!DOCTYPE html>
<html lang="${page.language}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${page.title}</title>
    <sly data-sly-include="${head.htm @ prependPath='/libs/sling/servlet/errorhandler'}"/>
</head>
<body>
    <div class="page">
        <header class="header">
            <sly data-sly-resource="${'header' @ resourceType='aem-playground/components/structure/header'}"/>
        </header>
        <main class="main" role="main">
            <sly data-sly-resource="${root}"/>
        </main>
        <footer class="footer">
            <sly data-sly-resource="${'footer' @ resourceType='aem-playground/components/structure/footer'}"/>
        </footer>
    </div>
    <sly data-sly-include="${body.htm @ prependPath='/libs/sling/servlet/errorhandler'}"/>
</body>
</html>
